body {
    font-family: 'Open Sans', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
    cursor: default;
    color: #333;
}

.section {
    text-align: center;
}

#section1 {
    background-image: url(../images/bg1.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section2 {
    background-image: url(../images/bg2.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section3 {
    background-image: url(../images/bg3.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section4 {
    background-image: url(../images/bg4.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section5 {
    background-image: url(../images/bg5.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section6 {
    background-image: url(../images/bg6.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-semicolor {
    background-color: rgba(34, 34, 34, 0.5) !important;
}

@-moz-document url-prefix() {
    .nav.navbar-nav.navbar-right a {
        font-weight: bold;
    }
}

.nav.navbar-nav.navbar-right a:hover {
    color: #ef3e36 !important;
    font-weight: bold;
}

@media only screen and (max-width: 480px) {
    .navbar {
        background: rgb(34, 34, 34) !important;
    }
    .navbar-semicolor {
        background-color: rgb(34, 34, 34) !important;
    }
    .object {
        display: none;
    }
    .text-details {
        display: none;
    }
    .servicii-logo {
        width: 100px;
    }
    .servicii-logo {
        width: 100px !important;
    }
    .for-mobile {
        display: none;
    }
    h4 {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .container-section2 {
        margin-top: 10%;
    }
}

/* doar pt tablete */

@media only screen and (max-width: 768px) and (min-width: 480px) {
    .img-proiect {
        width: 50% !important;
    }
}

.object {
    animation: MoveUpDown 2s linear infinite;
    position: absolute;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

@keyframes MoveUpDown {
    0%,
    100% {
        bottom: 10px;
    }
    50% {
        bottom: 40px;
    }
}

.typewrite {
    color: #ef3e36;
    font-weight: 700;
}

hr {
    border: 1px solid #ef3e36;
}

.text-gray {
    color: #555;
}

.text-red {
    color: #ef3e36;
}

.container-section2 {
    margin-top: 20%;
}

.servicii-logo {
    width: 150px;
}

.img-proiect {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#website-option, #marketing-option{
    display: none;
}
