body {
    font-family: 'Open Sans', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
    cursor: default;
    color: black;

}

.section {
    text-align: center;
}

#section1 {
    background-image: url(../images/bg1.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section2 {
    background-image: url(../images/bg2.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section3 {
    background-image: url(../images/bg3.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section4 {
    background-image: url(../images/bg4.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section5 {
    background-image: url(../images/bg5.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section6 {
    background-image: url(../images/bg6.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-semicolor {
    background-color: rgba(34, 34, 34, 0.5) !important;
}

.nav.navbar-nav.navbar-right a:hover {
    color: #ef3e36 !important;
}

@media only screen and (max-width: 480px) {
    .navbar {
        background: rgb(34, 34, 34) !important;
    }
    .navbar-semicolor {
        background-color: rgb(34, 34, 34) !important;
    }
    .object {
        display: none;
    }
    .text-details {
        display: none;
    }
}

.object {
    animation: MoveUpDown 2s linear infinite;
    position: absolute;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

@keyframes MoveUpDown {
    0%,
    100% {
        bottom: 10px;
    }
    50% {
        bottom: 40px;
    }
}

.typewrite {
    color: #ef3e36;
    font-weight: 700;
}

hr {
    border: 1px solid #ef3e36;
}

.text-gray {
    color: #555;
}

.container-section2 {
    margin-top: 15%;
}
